/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  box-sizing: border-box;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(2, 26, 14);

}

.main-content{
  width: 100%;
  text-align: center;
}

/* Pagina de Administração */

.main{
  background-color: #b4eb34;
  font-family: sans-serif;
}

.main_logo{
  width: 90px;
}


.users{
  color: #111;
}
.users_top{
  display: flex;
  justify-content: space-between;
  margin-bottom: 22px;
}

.user_top_btn{
  background-color: rgb(1, 98, 209);
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
}

.users table{
  text-align: left;
  padding: 5px 5px;
  border: 1px solid black;
}

/* Tournaments */

.tournament{
  font-family: 'Roboto';
  color: white;
  background-color: #0e2933;
  align-items: center;
  margin-top: 15px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  height: 100%;
}

.tournaments_filters{
  margin: 10px 0px;
  display: flex;
  gap: 20px;
}

.tournament_logo{
  width: 40px;
}

.tournament_title{
  font-size: 1.5em;
}

.tournament_subscribe{
  display: inline;
  padding: 4px 7px;
  border-radius: 5px;
  color: rgb(202, 4, 4);
  background-color: rgba(226, 8, 8, 0.233);
  /* color: rgb(80 249 103);
  background-color: rgba(4, 247, 36, 0.459); */
}

.tournament_subscribe2{
  display: inline;
  padding: 4px 7px;
  border-radius: 11px;
  color: rgb(202, 4, 4);
  background-color: rgba(226, 8, 8, 0.233);
}

.tournament_search{
  height: 32px;
  width: 280px;
  text-align: center;
  color: black;
  background-color: aliceblue;
  border: none;
  border-radius: 16px;
  padding: 4px 10px;
}

.tournament_p{
  color: #111;
  background-color: rgb(197, 197, 197);
  padding: 4px 18px;
  border-radius: 5px;
}


.team_city{
  display: inline;
  color: #869e9a94;
}

.teams_search_container{
  position: relative;
  display: flex;
  align-items: center;
  
}

.icon_search{
  cursor: pointer;
  position: relative;
  font-size: 22px;
  left: 3%;
}

.teams_search{
    color: rgb(68, 67, 67);
    background-color: rgb(231, 231, 233);
    border: none;
    border-radius: 5px;
    padding: 10px 10px;
    width: 340px;
    text-align: center;
    font-size: 16px;
}


@media (max-width: 768px){
  .team_city{
  display: none;
}

.tournament{
  font-family: 'Roboto';
  color: white;
  background-color: #0e2933;
  align-items: center;
  margin-top: 15px;
  width: 100%;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  height: 100%;
}

.tournament_title{
  font-size: 1.5em;
}
}



