
.team{
    color: rgb(238, 237, 236);
    display: flex;
    flex-direction: column;
    gap: 5px;
    background-color: #0e2933;
    align-items: center;
    border: 1px solid black;
    border-radius:  8px;
    padding-right: 7px;
    margin-top: 5px;
}

.team p{
    color: rgb(255, 255, 255);
    background-color: #164E63;
    padding: 5px 10px;
    border-radius: 8px;
    margin-bottom: 10px;
    text-shadow: 2px 1px 3px rgb(23, 24, 22);
}


.team div{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.team div img{
    width: 60px;
}

.team div h2{
    font-size: 18px;
    text-transform: uppercase;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.712);
}


@media (max-width: 768px) {

.team{
    color: rgb(238, 237, 236);
    display: flex;
    flex-direction: row;
    background-color: rgba(2, 87, 2, 0.719);
    align-items: center;
    border: 1px solid black;
    border-radius:  8px;
    justify-content: space-between;
    padding-right: 7px;
    margin-top: 5px;
    gap: 0;
}

.team p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: transparent;
    color: #66c4d4;
    padding: 0;
    text-shadow: 2px 1px 3px rgb(23, 24, 22);
}

.team div{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.team div img{
    width: 60px;
}

.team div h2{
    font-size: 16px;
    text-transform: uppercase;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.712);
}

.team_city{
    display: none;
}

}